.taskinfo {
  width: 295px;
  background-color:white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  top: 25px;
  z-index:10100;
  color: white;
  background-color: #444444;
}

.classinfo-image img {
	width:30px;
	height:30px;
	border-radius: 50%;
}